/* PRICING #2 */

.pricing2 ul{
    list-style-type: none;
    border:1px solid #BFBFBF;
    text-align:center;
    border-radius: 6px 6px 4px 4px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s;
    -webkit-transition:-webkit-transform 0.5s;
    -moz-transition:-moz-transform 0.5s;
    -o-transition:-o-transform 0.5s;
}

.pricing2 ul li{
    padding:10px;
    border-bottom:1px dashed #BFBFBF;
    margin:0 20px 0 20px;
    font-size:14px;
}

.pricing2 ul li.head{
    background-color: whiteSmoke;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF !important;
    border-width: 1px !important;
    border-style: solid !important;
    color:#444;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:45px !important;
}

.pricing2 ul li.head h4{
    color:#444;
}

.pricing2 ul li.price{
    font-size:60px;
    font-weight:bold;
    margin-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left:0!important;
    padding-right:0!important;
    margin-left: 0 !important;
    margin-right:0 !important;
    border-bottom:none !important;
}

.pricing2 ul li.footer{
    background-color: whiteSmoke;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF !important;
    border-width: 1px !important;
    border-style: solid !important;
    color:#444;
    margin:10px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}

.pricing2 ul.popullar{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pricing2 ul:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor:pointer;
}


/* PRICING #6 */

.pricing6 ul{
    list-style-type: none;
    border:1px solid #1F6377;
    text-align:center;
    border-radius: 6px 6px 4px 4px;
    -moz-border-radius: 6px 6px 4px 4px;
    -webkit-border-radius: 6px 6px 4px 4px;
    -o-border-radius: 6px 6px 4px 4px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transition:transform 0.5s;
    -webkit-transition:-webkit-transform 0.5s;
    -moz-transition:-moz-transform 0.5s;
    -o-transition:-o-transform 0.5s;
}

.pricing6 ul li{
    padding:10px;
    border-bottom:1px dashed #1F6377;
    margin:0 20px 0 20px;
    font-size:14px;
}

.pricing6 ul li.head{
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2F96B4 #2F96B4 #1F6377;
    border-width: 1px !important;
    border-style: solid !important;
    color:#444;
    margin:0 !important;
    padding-left:0!important;
    padding-right:0!important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    height:45px !important;
}

.pricing6 ul li.head h4{
    color:#fff;
}

.pricing6 ul li.price{
    font-size:60px;
    font-weight:bold;
    margin-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left:0!important;
    padding-right:0!important;
    margin-left: 0 !important;
    margin-right:0 !important;
    border-bottom:none !important;
}

.pricing6 ul li.footer{
    background-color: #49AFCD;
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2F96B4 #2F96B4 #1F6377;
    border-width: 1px !important;
    border-style: solid !important;
    color:#fff;
    margin:10px 0 0 0 !important;
    padding:20px 0 !important;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}

.pricing6 ul.popullar{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pricing6 ul:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor:pointer;
}