<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.struct.OrganizationMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_Organization" type="com.tjhx.entity.struct.Organization">
		<result column="uuid" property="uuid" jdbcType="INTEGER"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
		<result column="version" property="version" jdbcType="INTEGER"/>
		<result column="bw_branch_no" property="bwBranchNo" jdbcType="VARCHAR"/>
		<result column="org_bw_id" property="bwId" jdbcType="VARCHAR"/>
		<result column="org_id" property="id" jdbcType="VARCHAR"/>
		<result column="org_add" property="orgAdd" jdbcType="VARCHAR"/>
		<result column="org_add_short" property="orgAddShort" jdbcType="VARCHAR"/>
		<result column="_index" property="index" jdbcType="INTEGER"/>
		<result column="org_name" property="name" jdbcType="VARCHAR"/>
		<result column="zk_id" property="zkId" jdbcType="INTEGER"/>
		<result column="mng_user_id" property="mngUserId" jdbcType="VARCHAR"/>
		<result column="mng_user_name" property="mngUserName" jdbcType="VARCHAR"/>
		<result column="brand" property="brand" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	
	<!-- 取得[]对象列表-->
	<select id="getAllOrgList"  resultMap="Result_Map_Organization">
		SELECT
		    o.uuid ,
		    o.create_date ,
		    o.create_user_id ,
		    o.update_date ,
		    o.update_user_id ,
		    o.version ,
		    o.bw_branch_no ,
		    o.org_bw_id ,
		    o.org_id ,
		    o._index ,
		    o.org_name ,
		    o.zk_id ,
		    o.org_add ,
			o.org_add_short ,
		    o.mng_user_id ,
		    u.name AS mng_user_name ,
		    o.brand
		FROM
		    t_organization o LEFT JOIN t_user u ON o.mng_user_id = u.login_name
		ORDER BY uuid
	</select>
	
</mapper>
