<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.affair.PunchClockMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_PunchClock" type="com.tjhx.entity.affair.PunchClock">
		<result column="uuid" property="uuid" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="clock_time_d" property="clockTimeD" jdbcType="VARCHAR"/>
        <result column="clock_time_m" property="clockTimeM" jdbcType="VARCHAR"/>
        <result column="clock_time_y" property="clockTimeY" jdbcType="VARCHAR"/>
        <result column="end_clock_time" property="endClockTime" jdbcType="TIMESTAMP"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="start_clock_time" property="startClockTime" jdbcType="TIMESTAMP"/>
        <result column="zkid" property="zkid" jdbcType="INTEGER"/>
        
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="emp_uuid" property="empUuid" jdbcType="INTEGER"/>
	</resultMap>
	
	<delete id="delPunchClockInfo" parameterType="com.tjhx.entity.affair.PunchClock">  
        DELETE FROM t_punch_clock WHERE clock_time_y = #{clockTimeY} AND clock_time_m = #{clockTimeM} AND clock_time_d = #{clockTimeD}  
    </delete>

	<select id="getPunchClockList" parameterType="com.tjhx.entity.affair.PunchClock" resultMap="Result_Map_PunchClock">
		SELECT
		    o.org_name,
		    e.uuid as emp_uuid,
		    pc.clock_time_y,
		    pc.clock_time_m,
		    pc.clock_time_d,
		    pc.end_clock_time ,
    		pc.start_clock_time 
		FROM
		    t_employee e,
		    t_organization o,
		    t_punch_clock pc
		WHERE
		    e.zk_org_id = o.zk_id
		AND pc.zkid = e.zkid
		AND o.org_id = #{orgId}
		AND pc.clock_time_y = #{clockTimeY}
		AND pc.clock_time_m = #{clockTimeM}
		ORDER BY
		    pc.clock_time_y,
		    pc.clock_time_m,
		    pc.clock_time_d,
		    e.uuid
	</select>
</mapper>
