<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.order.ReqBillMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_ReqBill" type="com.tjhx.entity.order.ReqBill">
        <result column="uuid" property="uuid" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="app_num" property="appNum" jdbcType="INTEGER"/>
        <result column="barcode" property="barcode" jdbcType="VARCHAR"/>
        <result column="batch_id" property="batchId" jdbcType="VARCHAR"/>
        <result column="_index" property="index" jdbcType="INTEGER"/>
        <result column="inventory_num" property="inventoryNum" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="product_no" property="productNo" jdbcType="VARCHAR"/>
        <result column="ref_price" property="refPrice" jdbcType="DECIMAL"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR"/>
        
        <result column="pos_qty1" property="posQty1" jdbcType="DECIMAL"/>
        <result column="pos_qty2" property="posQty2" jdbcType="DECIMAL"/>
        <result column="pos_qty3" property="posQty3" jdbcType="DECIMAL"/>
        <result column="pos_qty4" property="posQty4" jdbcType="DECIMAL"/>
        <result column="pos_qty_total" property="posQtyTotal" jdbcType="DECIMAL"/>
        
        <result column="stock_qty" property="stockQty" jdbcType="DECIMAL"/>
	</resultMap>
	
	<resultMap id="Result_Map_Supplier" type="com.tjhx.entity.info.Supplier">
        <result column="supplier_name" property="name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 查询结果字段 -->
	<sql id="Base_Column_List" >
	<![CDATA[
    	uuid ,
    	create_date ,
    	create_user_id ,
    	update_date ,
    	update_user_id ,
    	version ,
    	app_num ,
    	barcode ,
    	batch_id ,
    	_index ,
    	inventory_num ,
    	org_id ,
    	product_name ,
    	product_no ,
    	ref_price ,
    	remarks ,
    	supplier_name 
	]]>
  	</sql>
  	
  	<!-- 查询条件 -->
  	<sql id="Where_Clause" >
  		<where>
  			<if test="batchId != null and batchId !='' ">
  			batch_id = #{batchId}
  			</if>
  			<if test="orgId != null and orgId !='' ">
  			AND org_id = #{orgId}
  			</if>
  			<if test="barcode != null and barcode !='' ">
  			AND barcode = #{barcode}
  			</if>
  			<if test="supplierName != null and supplierName !='' ">
  			AND supplier_name = #{supplierName}
  			</if>
	  	</where>
  	</sql>

	<!-- 取得t_req_bill_tmp信息(根据参数) -->
	<delete id="delReqBillByBatchId" parameterType="string">
		delete from t_req_bill_tmp where batch_id = #{batchId}
	</delete>
	
	<!-- 根据批次号取得供应商信息 -->
	<select id="getSupplierListByBatchId" parameterType="string" resultMap="Result_Map_Supplier">
		SELECT
    		req.supplier_name
		FROM
    		t_req_bill_tmp req,
    		t_supplier sup
		WHERE
    		req.batch_id = #{batchId}
    		and req.supplier_name = sup.name
		GROUP BY req.supplier_name
    	ORDER BY sup._index asc
	</select>
	
	<!-- 根据参数(批次号、门店号、供应商名称)取得门店要货单信息 -->
	<select id="getReqBillList" parameterType="com.tjhx.entity.order.ReqBill" resultMap="Result_Map_ReqBill">
		SELECT
		    good1.pos_qty AS pos_qty1 ,
		    good2.pos_qty AS pos_qty2 ,
		    good3.pos_qty AS pos_qty3 ,
		    good4.pos_qty AS pos_qty4 ,
		    sd.stock_qty ,
		    bill.app_num ,
		    bill.product_no ,
		    bill.barcode ,
		    bill.batch_id ,
		    bill._index ,
		    bill.inventory_num ,
		    bill.org_id ,
		    bill.product_name ,
		    bill.product_no ,
		    bill.ref_price ,
		    bill.remarks ,
		    bill.supplier_name
		FROM
		    t_req_bill_tmp bill
		LEFT JOIN
		    t_sales_week_total_goods_1 good1 ON bill.barcode = good1.item_barcode AND bill.org_id = good1.org_id
		LEFT JOIN
		    t_sales_week_total_goods_2 good2 ON bill.barcode = good2.item_barcode AND bill.org_id = good2.org_id
		LEFT JOIN
		    t_sales_week_total_goods_3 good3 ON bill.barcode = good3.item_barcode AND bill.org_id = good3.org_id
		LEFT JOIN
		    t_sales_week_total_goods_4 good4 ON bill.barcode = good4.item_barcode AND bill.org_id = good4.org_id
		LEFT JOIN
    		t_store_detail sd ON bill.barcode = sd.item_barcode AND bill.org_id = sd.org_id AND sd.opt_date = #{optDate}
		WHERE
		    batch_id = #{batchId}
		AND supplier_name = #{supplierName}
		ORDER BY
		    org_id
	</select>
	
	<!-- 根据参数(批次号、供应商名称)取得要货单合计信息 -->
	<select id="getReqBillSumList" parameterType="map" resultMap="Result_Map_ReqBill">
	<![CDATA[
		SELECT
		    bill.batch_id ,
		    bill.supplier_name,
		    bill.barcode ,
		    bill.product_no,
		    bill.product_name ,
		    bill.ref_price ,
		    SUM(bill.app_num) AS app_num ,
		    stock_qty         AS stock_qty ,
		    pos_qty_total     AS pos_qty_total
		FROM
		    t_req_bill_tmp bill
		LEFT JOIN
		    (
		        SELECT
		            SUM(stock_qty) AS stock_qty,
		            item_barcode
		        FROM
		            t_store_detail_one_day store
		        GROUP BY
		            item_barcode ) _store
		ON
		    bill.barcode = _store.item_barcode
		LEFT JOIN
		    (
		        SELECT
		            SUM(good.pos_qty) AS pos_qty_total,
		            item_barcode
		        FROM
		            t_sales_day_total_goods good
		        WHERE
		            opt_date >= #{optDate}
		        GROUP BY
		            item_barcode ) _good
		ON
		    bill.barcode = _good.item_barcode
		WHERE
		    bill.batch_id = #{batchId}
		AND bill.supplier_name = #{supplierName}
		GROUP BY
		    barcode
		ORDER BY
		    barcode
	]]>
	</select>
	
	<select id="getOrgListBySupplier" parameterType="com.tjhx.entity.order.ReqBill" resultMap="Result_Map_ReqBill">
		select DISTINCT org_id
		from t_req_bill_tmp
		<include refid="Where_Clause" />
		order by org_id
	</select>
	
	<select id="getReqBillListByBarcode" parameterType="map" resultMap="Result_Map_ReqBill">
		select 
		<include refid="Base_Column_List" />
		from t_req_bill_tmp
		<include refid="Where_Clause" />
		order by org_id
	</select>
	
	<select id="getReqBillListByOrgId" parameterType="map" resultMap="Result_Map_ReqBill">
		select 
			good1.pos_qty AS pos_qty1 ,
		    good2.pos_qty AS pos_qty2 ,
		    good3.pos_qty AS pos_qty3 ,
		    good4.pos_qty AS pos_qty4 ,
	    	bill.app_num ,
	    	bill.barcode ,
	    	bill.batch_id ,
	    	bill._index ,
	    	store.stock_qty AS inventory_num ,
	    	bill.org_id ,
	    	bill.product_name ,
	    	bill.product_no ,
	    	gd.cost_price AS costPrice ,
	    	bill.remarks ,
	    	bill.supplier_name 
		from 
			t_goods gd,
			t_req_bill_tmp bill
				LEFT JOIN t_store_detail_one_day store ON bill.barcode = store.item_barcode AND bill.org_id = store.org_id 
				LEFT JOIN t_sales_week_total_goods_1 good1 ON bill.barcode = good1.item_barcode AND bill.org_id = good1.org_id
				LEFT JOIN t_sales_week_total_goods_2 good2 ON bill.barcode = good2.item_barcode AND bill.org_id = good2.org_id
				LEFT JOIN t_sales_week_total_goods_3 good3 ON bill.barcode = good3.item_barcode AND bill.org_id = good3.org_id
				LEFT JOIN t_sales_week_total_goods_4 good4 ON bill.barcode = good4.item_barcode AND bill.org_id = good4.org_id
		<where>
  			bill.batch_id = #{batchId}
  		AND bill.org_id = #{orgId}
  		AND bill.barcode = gd.barcode
	  	</where>
	  	ORDER BY bill._index asc
	</select>
	
</mapper>
