<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.SalesWeekTotalGoodsMyBatisDao">
	<delete id="delSalesWeekTotalGoodsInfo_1">  
        DELETE FROM t_sales_week_total_goods_1
    </delete>
    
    <delete id="delSalesWeekTotalGoodsInfo_2">  
        DELETE FROM t_sales_week_total_goods_2
    </delete>
    
    <delete id="delSalesWeekTotalGoodsInfo_3">  
        DELETE FROM t_sales_week_total_goods_3
    </delete>
    
    <delete id="delSalesWeekTotalGoodsInfo_4">  
        DELETE FROM t_sales_week_total_goods_4
    </delete>
    
    <resultMap id="Result_Map_SalesWeekTotal" type="com.tjhx.entity.order.ReqBill">
    	<result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="barcode" property="barcode" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        
        <result column="pos_qty" property="posQtyTotal" jdbcType="DECIMAL"/>
        <result column="pos_qty1" property="posQty1" jdbcType="DECIMAL"/>
        <result column="pos_qty2" property="posQty2" jdbcType="DECIMAL"/>
        <result column="pos_qty3" property="posQty3" jdbcType="DECIMAL"/>
        <result column="pos_qty4" property="posQty4" jdbcType="DECIMAL"/>
        <result column="stock_qty" property="stockQty" jdbcType="DECIMAL"/>
        <result column="hm_pos_qty" property="hmPosQty" jdbcType="DECIMAL"/>
        
        <result column="pos_amt" property="posAmtTotal" jdbcType="DECIMAL"/>
        <result column="pos_amt1" property="posAmt1" jdbcType="DECIMAL"/>
        <result column="pos_amt2" property="posAmt2" jdbcType="DECIMAL"/>
        <result column="pos_amt3" property="posAmt3" jdbcType="DECIMAL"/>
        <result column="pos_amt4" property="posAmt4" jdbcType="DECIMAL"/>
        
        <result column="item_sale_amt" property="itemSaleAmt" jdbcType="DECIMAL"/>
        <result column="stock_amt" property="stockAmt" jdbcType="DECIMAL"/>
	</resultMap>
	
	<!-- 查询条件 -->
  	<sql id="Where_Clause" >
  		<where>
  			sd.org_id = #{orgId}
  			<if test="barcode != null and barcode !='' ">
  			AND ( sd.item_barcode = #{barcode} OR  sd.item_subno = #{barcode} )
  			</if>
	  	</where>
  	</sql>
	<!-- 指定门店近四周销售数据及库存情况 -->
	<select id="getSalesWeekGoodsTotalList_ByOrg_OrderQty" parameterType="com.tjhx.entity.order.ReqBill" resultMap="Result_Map_SalesWeekTotal">
		SELECT
    		t.*,
    		(t.pos_qty1 + t.pos_qty2 + t.pos_qty3 + t.pos_qty4) AS pos_qty,
    		(t.pos_amt1 + t.pos_amt2 + t.pos_amt3 + t.pos_amt4) AS pos_amt
		FROM
    	   (SELECT
	            sd.item_subno as barcode,
	            sd.item_name as product_name,
	            sd.stock_qty,
	            IF(sg1.pos_qty IS NULL, 0, sg1.pos_qty) AS pos_qty1,
	            IF(sg2.pos_qty IS NULL, 0, sg2.pos_qty) AS pos_qty2,
	            IF(sg3.pos_qty IS NULL, 0, sg3.pos_qty) AS pos_qty3,
	            IF(sg4.pos_qty IS NULL, 0, sg4.pos_qty) AS pos_qty4,
	            IF(sg1.pos_amt IS NULL, 0, sg1.pos_amt) AS pos_amt1,
	            IF(sg2.pos_amt IS NULL, 0, sg2.pos_amt) AS pos_amt2,
	            IF(sg3.pos_amt IS NULL, 0, sg3.pos_amt) AS pos_amt3,
	            IF(sg4.pos_amt IS NULL, 0, sg4.pos_amt) AS pos_amt4
	        FROM
	            t_store_detail sd
	        LEFT JOIN
	            t_sales_week_total_goods_1 sg1 ON sd.item_subno = sg1.item_subno AND sd.org_id = sg1.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_2 sg2 ON sd.item_subno = sg2.item_subno AND sd.org_id = sg2.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_3 sg3 ON sd.item_subno = sg3.item_subno AND sd.org_id = sg3.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_4 sg4 ON sd.item_subno = sg4.item_subno AND sd.org_id = sg4.org_id
	       	<include refid="Where_Clause" />
	            ) AS t
		ORDER BY
    		pos_qty DESC
	</select>
	
	<!-- 指定门店近四周销售数据及库存情况 -->
	<select id="getSalesWeekGoodsTotalList_ByOrg_OrderAmt" parameterType="com.tjhx.entity.order.ReqBill" resultMap="Result_Map_SalesWeekTotal">
		SELECT
    		t.*,
    		(t.pos_qty1 + t.pos_qty2 + t.pos_qty3 + t.pos_qty4) AS pos_qty,
    		(t.pos_amt1 + t.pos_amt2 + t.pos_amt3 + t.pos_amt4) AS pos_amt
		FROM
    	   (SELECT
	            sd.item_subno as barcode,
	            sd.item_name as product_name,
	            sd.stock_qty,
	            IF(sg1.pos_qty IS NULL, 0, sg1.pos_qty) AS pos_qty1,
	            IF(sg2.pos_qty IS NULL, 0, sg2.pos_qty) AS pos_qty2,
	            IF(sg3.pos_qty IS NULL, 0, sg3.pos_qty) AS pos_qty3,
	            IF(sg4.pos_qty IS NULL, 0, sg4.pos_qty) AS pos_qty4,
	            IF(sg1.pos_amt IS NULL, 0, sg1.pos_amt) AS pos_amt1,
	            IF(sg2.pos_amt IS NULL, 0, sg2.pos_amt) AS pos_amt2,
	            IF(sg3.pos_amt IS NULL, 0, sg3.pos_amt) AS pos_amt3,
	            IF(sg4.pos_amt IS NULL, 0, sg4.pos_amt) AS pos_amt4
	        FROM
	            t_store_detail sd
	        LEFT JOIN
	            t_sales_week_total_goods_1 sg1 ON sd.item_subno = sg1.item_subno AND sd.org_id = sg1.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_2 sg2 ON sd.item_subno = sg2.item_subno AND sd.org_id = sg2.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_3 sg3 ON sd.item_subno = sg3.item_subno AND sd.org_id = sg3.org_id
	        LEFT JOIN
	            t_sales_week_total_goods_4 sg4 ON sd.item_subno = sg4.item_subno AND sd.org_id = sg4.org_id
	       	<include refid="Where_Clause" />
	            ) AS t
		ORDER BY
    		pos_amt DESC
	</select>
	
	<!-- 指定条码各门店近四周销售数据及库存情况 -->
	<select id="getSalesWeekGoodsTotalList_ByBarcode" parameterType="map" resultMap="Result_Map_SalesWeekTotal">
		SELECT
		    t.*,
		    (t.pos_qty1 + t.pos_qty2 + t.pos_qty3 + t.pos_qty4) AS pos_qty,
		    (t.pos_amt1 + t.pos_amt2 + t.pos_amt3 + t.pos_amt4) AS pos_amt
		FROM
		    (
		        SELECT
		            org.org_name                            AS org_id,
		            sd.item_subno                           AS barcode,
		            sd.item_name                            AS product_name,
		            wsd.pos_qty                             AS hm_pos_qty,
		            SUM(sd.stock_qty)                       AS stock_qty,
		            SUM(sd.item_sale_amt)                   AS item_sale_amt,
            		SUM(sd.stock_amt)                       AS stock_amt,
		            IF(sg1.pos_qty IS NULL, 0, sg1.pos_qty) AS pos_qty1,
		            IF(sg2.pos_qty IS NULL, 0, sg2.pos_qty) AS pos_qty2,
		            IF(sg3.pos_qty IS NULL, 0, sg3.pos_qty) AS pos_qty3,
		            IF(sg4.pos_qty IS NULL, 0, sg4.pos_qty) AS pos_qty4,
		            IF(sg1.pos_amt IS NULL, 0, sg1.pos_amt) AS pos_amt1,
		            IF(sg2.pos_amt IS NULL, 0, sg2.pos_amt) AS pos_amt2,
		            IF(sg3.pos_amt IS NULL, 0, sg3.pos_amt) AS pos_amt3,
		            IF(sg4.pos_amt IS NULL, 0, sg4.pos_amt) AS pos_amt4
		        FROM
		            t_organization org,
		            t_store_detail sd
		        LEFT JOIN
		            t_sales_week_total_goods_1 sg1
		        ON
		            sd.item_subno = sg1.item_subno
		        AND sd.org_id = sg1.org_id
		        LEFT JOIN
		            t_sales_week_total_goods_2 sg2
		        ON
		            sd.item_subno = sg2.item_subno
		        AND sd.org_id = sg2.org_id
		        LEFT JOIN
		            t_sales_week_total_goods_3 sg3
		        ON
		            sd.item_subno = sg3.item_subno
		        AND sd.org_id = sg3.org_id
		        LEFT JOIN
		            t_sales_week_total_goods_4 sg4
		        ON
		            sd.item_subno = sg4.item_subno
		        AND sd.org_id = sg4.org_id
		        LEFT JOIN
		            t_week_sales_total_goods wsd
		        ON
		            sd.item_subno = wsd.item_subno
		        AND sd.org_id = wsd.org_id
		        WHERE
		            sd.opt_date = #{optDate}
		        AND sd.item_subno = #{barcode}
		        AND sd.org_id = org.org_id
		        GROUP BY
		            sd.org_id,
		            sd.item_subno ) AS t
		ORDER BY
		    t.org_id
	</select>
</mapper>
