<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.SalesDayTotalGoodsMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_SalesDayTotalGoods" type="com.tjhx.entity.info.SalesDayTotalGoods">
        <result column="uuid" property="uuid" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="branch_no" property="branchNo" jdbcType="VARCHAR"/>
        <result column="item_barcode" property="itemBarcode" jdbcType="VARCHAR"/>
        <result column="item_subno" property="itemSubno" jdbcType="VARCHAR"/>
        <result column="opt_date" property="optDate" jdbcType="VARCHAR"/>
        <result column="opt_date_m" property="optDateM" jdbcType="VARCHAR"/>
        <result column="opt_date_y" property="optDateY" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="pos_amt" property="posAmt" jdbcType="DECIMAL"/>
        <result column="pos_qty" property="posQty" jdbcType="DECIMAL"/>
        
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="stock_qty" property="stockQty" jdbcType="DECIMAL"/>
        <result column="stock_amt" property="stockAmt" jdbcType="DECIMAL"/>
        <result column="item_sale_amt" property="saleAmt" jdbcType="DECIMAL"/>
        <result column="sup_name" property="supName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<delete id="delSalesDayTotalInfo" parameterType="String">  
        DELETE FROM t_sales_day_total_goods WHERE opt_date = #{optDate}
    </delete>
  	
    <!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSumSaleInfoList" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    g.branch_no ,
		    sd.item_barcode ,
		    sd.item_subno ,
		    sd.org_id ,
		    SUM(g.pos_amt) AS pos_amt ,
		    SUM(g.pos_qty) AS pos_qty ,
		    org.org_name ,
		    sd.stock_qty ,
		    sd.stock_amt ,
		    sd.item_sale_amt ,
		    gs.name AS goods_name
		FROM
		    t_organization org,
		    t_store_detail sd LEFT JOIN t_sales_day_total_goods g ON sd.item_barcode = g.item_barcode
																 AND sd.org_id = g.org_id
																 AND sd.opt_date = DATE_FORMAT( date_sub(NOW(),interval 1 DAY),'%Y%m%d') 
													    		 AND g.opt_date >= #{optDateStart} 
													    		 AND g.opt_date  <= #{optDateEnd} ,
		    t_goods gs
		WHERE
		    org.org_id != '000'
		AND ( sd.item_barcode = #{itemBarcode} OR  sd.item_subno = #{itemSubno} )
		AND org.org_id = sd.org_id
		AND sd.item_barcode = gs.barcode
		GROUP BY
		    org.org_id
	]]>
	</select>
	
	
	<!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSumSaleInfoList_Week" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
	SELECT
	    g.org_id ,
	    g.branch_no ,
	    g.item_subno ,
	    g.item_barcode ,
	    SUM(g.pos_qty) AS pos_qty ,
	    SUM(g.pos_amt) AS pos_amt
	FROM
	    t_sales_day_total_goods g
	WHERE
	    g.opt_date >= #{optDateStart}
	AND g.opt_date <= #{optDateEnd}
	GROUP BY
    	g.org_id, g.item_subno
    ]]>
	</select>
	
	
	<!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSalesItemRankInfoList_OrderQty" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    tt.*
		FROM
		    (SELECT
			    SUM(sg.pos_amt) AS pos_amt ,
			    SUM(sg.pos_qty) AS pos_qty ,
			    sg.item_subno ,
			    sg.item_barcode ,
			    sg.opt_date ,
			    org.org_name ,
			    sd.stock_qty ,
			    sup.name AS sup_name ,
			    g.name as goods_name
			FROM
				t_organization org ,
			    t_sales_day_total_goods sg LEFT JOIN t_store_detail sd ON sd.item_subno = sg.item_subno 
			    													  AND sd.opt_date = DATE_FORMAT( date_sub(NOW(),interval 1 DAY),'%Y%m%d')
			                                                          AND sd.org_id = sg.org_id 
			                                                          AND sd.opt_date = #{optDateEnd},
			    t_goods g ,
			    t_supplier sup,
			    t_item_type it
			WHERE
			    sg.item_subno = g.subno
			AND g.item_no = it.item_no
			AND g.item_no = #{itemNo}
			AND sg.org_id = #{orgId}
			AND sg.org_id = org.org_id
			AND sg.opt_date >= #{optDateStart}
			AND sg.opt_date <= #{optDateEnd}
			AND g.supplier_bw_id = sup.supplier_bw_id
			GROUP BY
			    sg.item_subno
			ORDER BY
	    		pos_qty ${orderMode}
	    	) tt LIMIT 20
	]]>
	</select>
	
	<!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSalesItemRankInfoList_OrderAmt" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    tt.*
		FROM
		    (SELECT
			    SUM(sg.pos_amt) AS pos_amt ,
			    SUM(sg.pos_qty) AS pos_qty ,
			    sg.item_subno ,
			    sg.item_barcode ,
			    sg.opt_date ,
			    org.org_name ,
			    sd.stock_qty ,
			    sup.name AS sup_name,
			    g.name as goods_name
			FROM
				t_organization org ,
			    t_sales_day_total_goods sg LEFT JOIN t_store_detail sd ON sd.item_subno = sg.item_subno 
			    													  AND sd.opt_date = DATE_FORMAT( date_sub(NOW(),interval 1 DAY),'%Y%m%d') 
			                                                          AND sd.org_id = sg.org_id ,
			    t_goods g ,
			    t_supplier sup,
			    t_item_type it
			WHERE
			    sg.item_subno = g.subno
			AND g.item_no = it.item_no
			AND g.item_no = #{itemNo}
			AND sg.org_id = #{orgId}
			AND sg.org_id = org.org_id
			AND sg.opt_date >= #{optDateStart}
			AND sg.opt_date <= #{optDateEnd}
			AND g.supplier_bw_id = sup.supplier_bw_id
			GROUP BY
			    sg.item_subno
			ORDER BY
	    		pos_amt ${orderMode}
	    	) tt LIMIT 20
	]]>
	</select>
	
	<!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSalesItemRankInfoList_OrderAmt_Top_Item" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    g.item_barcode,
		    g.item_subno ,
		    gs.name        AS goods_name,
		    SUM(g.pos_amt) AS pos_amt ,
		    SUM(g.pos_qty) AS pos_qty ,
		    sup.name       AS sup_name ,
		    sd.stock_qty
		FROM
		    t_sales_day_total_goods g
		LEFT JOIN
		    t_store_detail_one_day sd
		ON
		    sd.item_subno = g.item_subno
		AND sd.org_id = g.org_id,
		    t_goods gs,
		    t_supplier sup
		WHERE
		    g.opt_date >= #{optDateStart}
		AND g.opt_date <= #{optDateEnd}
		AND g.org_id = #{orgId}
		AND g.item_barcode = gs.barcode
		AND gs.item_no = #{itemNo}
		AND gs.supplier_bw_id = sup.supplier_bw_id
		GROUP BY
		    g.item_barcode
		ORDER BY
		    pos_amt DESC LIMIT 30
	]]>
	</select>
	
	<!-- 取得t_sales_day_total_goods信息(根据参数) -->
	<select id="getSalesItemRankInfoList_OrderAmt_Down_Item" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    g.item_barcode,
		    g.item_subno ,
		    gs.name        AS goods_name,
		    SUM(g.pos_amt) AS pos_amt ,
		    SUM(g.pos_qty) AS pos_qty ,
		    sup.name       AS sup_name ,
		    sd.stock_qty
		FROM
		    t_sales_day_total_goods g
		LEFT JOIN
		    t_store_detail_one_day sd
		ON
		    sd.item_subno = g.item_subno
		AND sd.org_id = g.org_id,
		    t_goods gs,
		    t_supplier sup
		WHERE
		    g.opt_date >= #{optDateStart}
		AND g.opt_date <= #{optDateEnd}
		AND g.org_id = #{orgId}
		AND g.item_barcode = gs.barcode
		AND gs.item_no = #{itemNo}
		AND gs.supplier_bw_id = sup.supplier_bw_id
		GROUP BY
		    g.item_barcode
		ORDER BY
		    pos_amt ASC LIMIT 30
	]]>
	</select>
	
	<select id="getSalesItemRankInfoList_OrderAmt_Top_Supplier" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    g.item_barcode,
		    g.item_subno ,
		    gs.name        AS goods_name,
		    SUM(g.pos_amt) AS pos_amt ,
		    SUM(g.pos_qty) AS pos_qty ,
		    sup.name       AS sup_name ,
		    sd.stock_qty
		FROM
		    t_sales_day_total_goods g
		LEFT JOIN
		    t_store_detail_one_day sd
		ON
		    sd.item_subno = g.item_subno
		AND sd.org_id = g.org_id,
		    t_goods gs,
		    t_supplier sup
		WHERE
		    g.opt_date >= #{optDateStart}
		AND g.opt_date <= #{optDateEnd}
		AND g.org_id = #{orgId}
		AND g.item_barcode = gs.barcode
		AND sup.supplier_bw_id = #{supplierBwId}
		AND gs.supplier_bw_id = sup.supplier_bw_id
		GROUP BY
		    g.item_barcode
		ORDER BY
		    pos_amt DESC LIMIT 30
	]]>
	</select>
	<select id="getSalesItemRankInfoList_OrderAmt_Down_Supplier" parameterType="com.tjhx.entity.info.SalesDayTotalGoods" resultMap="Result_Map_SalesDayTotalGoods">
	<![CDATA[
		SELECT
		    g.item_barcode,
		    g.item_subno ,
		    gs.name        AS goods_name,
		    SUM(g.pos_amt) AS pos_amt ,
		    SUM(g.pos_qty) AS pos_qty ,
		    sup.name       AS sup_name ,
		    sd.stock_qty
		FROM
		    t_sales_day_total_goods g
		LEFT JOIN
		    t_store_detail_one_day sd
		ON
		    sd.item_subno = g.item_subno
		AND sd.org_id = g.org_id,
		    t_goods gs,
		    t_supplier sup
		WHERE
		    g.opt_date >= #{optDateStart}
		AND g.opt_date <= #{optDateEnd}
		AND g.org_id = #{orgId}
		AND g.item_barcode = gs.barcode
		AND sup.supplier_bw_id = #{supplierBwId}
		AND gs.supplier_bw_id = sup.supplier_bw_id
		GROUP BY
		    g.item_barcode
		ORDER BY
		    pos_amt ASC LIMIT 30
	]]>
	</select>
	
	<!-- 取得合计销售金额 -->
	<select id="getTotalPosAmt" parameterType="map" resultMap="Result_Map_SalesDayTotalGoods">
		SELECT
		    SUM(sgd.pos_amt) AS pos_amt
		FROM
		    t_sales_day_total_goods sgd,
		    t_goods gd
		<where>
  			<![CDATA[sgd.opt_date >= #{startDate} AND sgd.opt_date <= #{endDate}]]>
  			AND sgd.item_subno = gd.subno
  			<if test="orgId != null ">
			AND sgd.org_Id = #{orgId}
			</if>
			<if test="itemSubno != null ">
			AND (sgd.item_barcode = #{itemSubno} OR  sgd.item_subno = #{itemSubno})
			</if>
			<if test="itemName != null ">
			AND gd.name LIKE #{itemName}
			</if>
			<if test="itemType != null ">
			AND gd.item_no IN (${itemType})
			</if>
	  	</where>
	</select>
	<select id="getTotalPosAmtInfo" parameterType="map" resultMap="Result_Map_SalesDayTotalGoods">
		SELECT
		    A.*,
		    B.stock_qty
		FROM
		    (
		        SELECT
		            sgd.item_subno,
		            SUM(sgd.pos_amt) AS pos_amt,
		            SUM(sgd.pos_qty) AS pos_qty,
		            gd.name          AS goods_name
		        FROM
		            t_sales_day_total_goods sgd,
		            t_goods gd
		        <where>
		            <![CDATA[sgd.opt_date >= #{startDate} AND sgd.opt_date <= #{endDate}]]>
			        AND sgd.item_subno = gd.subno
			        <if test="orgId != null ">
					AND sgd.org_Id = #{orgId}
					</if>
					<if test="itemSubno != null ">
					AND (sgd.item_barcode = #{itemSubno} OR  sgd.item_subno = #{itemSubno})
					</if>
					<if test="itemName != null ">
					AND gd.name LIKE #{itemName}
					</if>
					<if test="itemType != null ">
					AND gd.item_no IN (${itemType})
					</if>
			  	</where>
		        GROUP BY
		            item_subno ) A
		LEFT JOIN
		    (
		        SELECT
		            sd.item_subno,
		            SUM(stock_qty) AS stock_qty
		        FROM
		            t_store_detail_one_day sd
		        <where>
		        	<if test="orgId != null ">
					sd.org_Id = #{orgId}
					</if>
		        </where>
		        GROUP BY
		            item_subno) B ON A.item_subno = B.item_subno
    	ORDER BY pos_amt DESC
	</select>
	<!-- 取得合计销售数量 -->
	<select id="getTotalPosQty" parameterType="map" resultMap="Result_Map_SalesDayTotalGoods">
		SELECT
		    SUM(sgd.pos_qty) AS pos_qty
		FROM
		    t_sales_day_total_goods sgd,
		    t_goods gd
		<where>
  			<![CDATA[sgd.opt_date >= #{startDate} AND sgd.opt_date <= #{endDate}]]>
  			AND sgd.item_subno = gd.subno
  			<if test="orgId != null ">
			AND sgd.org_Id = #{orgId}
			</if>
			<if test="itemSubno != null ">
			AND (sgd.item_barcode = #{itemSubno} OR  sgd.item_subno = #{itemSubno})
			</if>
			<if test="itemName != null ">
			AND gd.name LIKE #{itemName}
			</if>
			<if test="itemType != null ">
			AND gd.item_no IN (${itemType})
			</if>
	  	</where>
	</select>
	<select id="getTotalPosQtyInfo" parameterType="map" resultMap="Result_Map_SalesDayTotalGoods">
		SELECT
		    A.*,
		    B.stock_qty
		FROM
		    (
		        SELECT
		            sgd.item_subno,
		            SUM(sgd.pos_amt) AS pos_amt,
		            SUM(sgd.pos_qty) AS pos_qty,
		            gd.name          AS goods_name
		        FROM
		            t_sales_day_total_goods sgd,
		            t_goods gd
		        <where>
		            <![CDATA[sgd.opt_date >= #{startDate} AND sgd.opt_date <= #{endDate}]]>
			        AND sgd.item_subno = gd.subno
			        <if test="orgId != null ">
					AND sgd.org_Id = #{orgId}
					</if>
					<if test="itemSubno != null ">
					AND (sgd.item_barcode = #{itemSubno} OR  sgd.item_subno = #{itemSubno})
					</if>
					<if test="itemName != null ">
					AND gd.name LIKE #{itemName}
					</if>
					<if test="itemType != null ">
					AND gd.item_no IN (${itemType})
					</if>
			  	</where>
		        GROUP BY
		            item_subno ) A
		LEFT JOIN
		    (
		        SELECT
		            sd.item_subno,
		            SUM(stock_qty) AS stock_qty
		        FROM
		            t_store_detail_one_day sd
		        <where>
		        	<if test="orgId != null ">
					sd.org_Id = #{orgId}
					</if>
		        </where>
		        GROUP BY
		            item_subno) B ON A.item_subno = B.item_subno
    	ORDER BY pos_qty DESC
	</select>
	
	<select id="getSaleOrgInfo" parameterType="map" resultType="String">
	<![CDATA[
		SELECT DISTINCT
		    org_id
		FROM
		    t_sales_day_total_goods
		WHERE
		    item_subno = #{itemSubno}
		AND opt_date >= #{startDate}
		AND opt_date <= #{endDate}
	]]>
	</select>
	
	<select id="getStoreOrgInfo" parameterType="String" resultType="String">
		SELECT DISTINCT
		    org_id
		FROM
		    t_store_detail_one_day
		WHERE
		    item_subno = #{itemSubno}
	</select>
</mapper>
