<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.SalesDayTotalMyBatisDao">
	<delete id="delSalesDayTotalInfo" parameterType="String">  
        DELETE FROM t_sales_day_total where opt_date = #{optDate}
    </delete>
</mapper>
