<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.StoreDetailMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_StoreDetail" type="com.tjhx.entity.info.StoreDetail">
        <result column="bw_branch_no" property="bwBranchNo" jdbcType="VARCHAR"/>
        <result column="_index" property="index" jdbcType="INTEGER"/>
        <result column="item_barcode" property="itemBarcode" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="item_sale_amt" property="itemSaleAmt" jdbcType="DECIMAL"/>
        <result column="item_subno" property="itemSubno" jdbcType="VARCHAR"/>
        <result column="opt_date" property="optDate" jdbcType="VARCHAR"/>
        <result column="opt_date_m" property="optDateM" jdbcType="VARCHAR"/>
        <result column="opt_date_y" property="optDateY" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="stock_amt" property="stockAmt" jdbcType="DECIMAL"/>
        <result column="stock_qty" property="stockQty" jdbcType="DECIMAL"/>
        <result column="store_flg" property="storeFlg" jdbcType="VARCHAR"/>
        
        <result column="stock_total_qty" property="stockTotalQty" jdbcType="DECIMAL"/>
        <result column="stock_total_amt" property="stockTotalAmt" jdbcType="DECIMAL"/>
        <result column="item_sale_total_amt" property="itemSaleTotalAmt" jdbcType="DECIMAL"/>
        <result column="item_no" property="itemClsNo" jdbcType="DECIMAL"/>
        <result column="supplier_bw_id" property="supplierBwId" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 查询结果字段 -->
	<sql id="Base_Column_List" >
	<![CDATA[
    	org_id ,
	    bw_branch_no ,
	    opt_date ,
	    opt_date_y ,
	    opt_date_m ,
	    store_flg ,
	    SUM(stock_qty) AS stock_total_qty ,
	    SUM(stock_amt) AS stock_total_amt,
	    SUM(item_sale_amt) AS item_sale_total_amt
	]]>
  	</sql>
  	
  	<!-- 查询条件 -->
  	<sql id="Where_Clause" >
  		<where>
  			<if test="bwBranchNo != null and bwBranchNo !='' ">
  			bw_branch_no = #{bwBranchNo}
  			</if>
  			<if test="optDate != null and optDate !='' ">
  			AND opt_date = #{optDate}
  			</if>
	  	</where>
  	</sql>
  	
  	<!-- 取得t_store_detail信息(根据参数) -->
	<select id="getDayTotalList" parameterType="com.tjhx.entity.info.StoreDetail" resultMap="Result_Map_StoreDetail">
		select
		<include refid="Base_Column_List" />
		from t_store_detail
		<include refid="Where_Clause" />
		GROUP BY store_flg
	</select>
	
	<update id="createTable"> 
	<![CDATA[
	CREATE TABLE
    t_store_detail
    (
        uuid INT NOT NULL AUTO_INCREMENT,
        create_date DATETIME NOT NULL,
        create_user_id VARCHAR(32) NOT NULL,
        update_date DATETIME NOT NULL,
        update_user_id VARCHAR(32) NOT NULL,
        version INT NOT NULL,
        bw_branch_no VARCHAR(8),
        _index INT NOT NULL,
        item_barcode VARCHAR(16),
        item_name VARCHAR(128),
        item_sale_amt DECIMAL(19,2),
        item_subno VARCHAR(16),
        opt_date VARCHAR(8) NOT NULL,
        opt_date_m VARCHAR(2),
        opt_date_y VARCHAR(4),
        org_id VARCHAR(32) NOT NULL,
        stock_amt DECIMAL(19,2),
        stock_qty DECIMAL(19,2),
        store_flg VARCHAR(1),
        PRIMARY KEY (uuid),
        CONSTRAINT _index UNIQUE (_index, opt_date, org_id),
        INDEX item_barcode (item_barcode, org_id),
        INDEX index_store_detail_org_id_item_subno (item_subno, org_id)
    )
    ENGINE=InnoDB DEFAULT CHARSET=utf8
    ]]>
    </update>
    
    <update id="dropTable"> 
        DROP TABLE t_store_detail
    </update>
    
    <select id="getItemContrastStoreList" parameterType="map" resultMap="Result_Map_StoreDetail">
	    SELECT
		    sd.org_id,
		    sd.opt_date,
		    g.item_no,
		    SUM(sd.stock_qty) stock_qty,
		    SUM(sd.stock_amt) AS stock_amt
		FROM
		    t_store_detail sd,
		    t_goods g
		WHERE
		    g.barcode=sd.item_barcode
		AND g.item_no IN (${itemType})
		<![CDATA[AND opt_date = #{optDateEnd}]]>
		<if test="orgId != null and orgId != ''">
	    AND sd.org_id IN (${orgId})
	    </if>
		GROUP BY
		    sd.org_id,
		    g.item_no
		ORDER BY
		    sd.org_id,
		    g.item_no
    </select>
    
    
    <select id="getSupplierContrastStoreList" parameterType="map" resultMap="Result_Map_StoreDetail">
	    SELECT
		    sd.org_id,
		    sd.opt_date,
		    g.supplier_bw_id,
		    SUM(sd.stock_qty) stock_qty,
		    SUM(sd.stock_amt) AS stock_amt
		FROM
		    t_store_detail sd,
		    t_goods g
		WHERE
		    g.barcode = sd.item_barcode
		AND g.supplier_bw_id IN (${supplierArray})
		<![CDATA[AND opt_date = #{optDateEnd}]]>
		<if test="orgId != null and orgId != ''">
	    AND sd.org_id IN (${orgId})
	    </if>
		GROUP BY
		    sd.org_id,
		    g.supplier_bw_id
		ORDER BY
		    sd.org_id,
		    g.supplier_bw_id
    </select>
    
    <delete id="delStoreDetail" parameterType="String">
        DELETE FROM t_store_detail WHERE opt_date = #{optDate}
    </delete>
    
    <delete id="delStoreDetail_GreaterThan90Day" parameterType="String">
    <![CDATA[
        DELETE FROM t_store_detail WHERE opt_date <= #{optDate}
    ]]>
    </delete>
    
    <select id="getStoreListGroupBySubno" parameterType="map" resultMap="Result_Map_StoreDetail">
    SELECT
	    org_id,
	    opt_date,
	    SUM(stock_qty) AS stock_qty
	FROM
	    t_store_detail
	WHERE
	    org_id=${orgId}
	AND opt_date=#{optDate}
	GROUP BY
	    item_subno
     </select>
</mapper>
